In [4]:
import datetime
import pandas as pd

In [5]:
datetime.date.today()

datetime.date(2021, 12, 20)

In [6]:
datetime.date.today() - pd.DateOffset(months=3)

Timestamp('2021-09-20 00:00:00')

In [10]:
desired_time_range = input("Enter how many months you want to look back: ")

Enter how many months you want to look back:  6

In [11]:
desired_time_range = int(desired_time_range)
print(desired_time_range)

6

In [12]:
type(desired_time_range)

int

need to proceed in 3 steps:

    ask for the desired time range : last 3 or last 6 or last 12 months
    apply a function to calculate desired time range
    filter dataframe accordingly to show the specific results on dataviz page (with a simple mask) => df[df['date']>(datetime.date.today()- pd.DateOffset(months=3))]

In [13]:
def filter_timerange(int):
    period = datetime.date.today()-pd.DateOffset(months=int)
    new_df= df[df['date']>period]
    return new_df

In [ ]:
filtered_df = filter_timerange(6)
filtered_df.shape

In [ ]:
#periods = df['date'].drop_duplicates()
#period_choice = st.sidebar.selectbox('Select time range: ', periods)

In [ ]:
filtered_df.head()

In [ ]:
filtered_df.info()